In [120]:
import pandas as pd

For the Data Wrangling piece of this project the plan is to first ingest the data from the excel spreadsheets and then combine it all into a single Dataframe. After that replace the numbers for the Borough using meaningful letter for each of the Boroughs.

In [121]:
#Read data for every Borough
df_manhattan = pd.read_excel('RollingSalesData/rollingsales_manhattan.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_bronx = pd.read_excel('RollingSalesData/rollingsales_bronx.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_brooklyn = pd.read_excel('RollingSalesData/rollingsales_brooklyn.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_queens = pd.read_excel('RollingSalesData/rollingsales_queens.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_statenisland = pd.read_excel('RollingSalesData/rollingsales_statenisland.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])

In [122]:
#Concatenate the data for all boroughs
df_combined = pd.concat([df_manhattan, df_bronx, df_brooklyn,  df_queens, df_statenisland])

#Replace the 'BOROUGH' with appropriate depictions for each borough: M -1 , X - 2, B - 3, Q - 4, S - 5
df_combined['BOROUGH'].replace({1:'M', 2:'X', 3:'B', 4:'Q', 5:'S'}, inplace=True)

In [123]:
#Number of rows with a sale price of $0
(df_combined['SALE PRICE'] == 0).value_counts()

False    58787
True     24707
Name: SALE PRICE, dtype: int64

As we can see that the Sale Price is $0 for 24,707 records. Since this metric is a vital piece in the project I am going to remove the records that have a sale proce of $0.

In [124]:
#Remove the records with a sale price of 0
df_combined = df_combined[df_combined['SALE PRICE'] != 0]

In [125]:
#Number of rows where Area of the property solde is missing
(df_combined['GROSS SQUARE FEET'] == 0).value_counts()

False    29566
True     29221
Name: GROSS SQUARE FEET, dtype: int64

As we can aboce the Gross Square Feet is 0sqft for 29,221 records we will disregard this column during our analysis.

Now we will check for Missing Data in other columns.

In [126]:
#Check for missing data in other columns
#Borough
(df_combined['BOROUGH'] == "").value_counts()

False    58787
Name: BOROUGH, dtype: int64

In [127]:
#Neighborhood
(df_combined['NEIGHBORHOOD'] == " ").value_counts()

False    58787
Name: NEIGHBORHOOD, dtype: int64

In [128]:
#Building Class Category
(df_combined['BUILDING CLASS CATEGORY'] == "").value_counts()

False    58787
Name: BUILDING CLASS CATEGORY, dtype: int64

In [129]:
#Building Class at Present
(df_combined['BUILDING CLASS AT PRESENT'] == "").value_counts()

False    58787
Name: BUILDING CLASS AT PRESENT, dtype: int64

From the above 4 pieces we can see that thhe Borough, Neighborhood, Building Class Category and Building Class at Present columns have no missing data.

In [130]:
#Zip Code
(df_combined['ZIP CODE'] == 0).value_counts()

False    58488
True       299
Name: ZIP CODE, dtype: int64

From the above count we can see that 299 rows do not have a Zip Code. So we will manipulate the zip code of the 
missing records using the Neighborhood. In this exercise we see that there are multiple zip codes for the same
neighborhood. So we will get Map a neighborhood to a zip code usng the maximum occurence of a zip code for a given
neighborhood.

In [115]:
df_group = df_combined.groupby(['NEIGHBORHOOD', 'ZIP CODE']).count()['SALE PRICE'].reset_index()

idx = df_group.groupby(['NEIGHBORHOOD'])['SALE PRICE'].transform(max) == df_group['SALE PRICE']
df_key = df_group[idx][['NEIGHBORHOOD', 'ZIP CODE']]
df_key.set_index('NEIGHBORHOOD', inplace=True)
#Create a dictionary
dictmap = df_key.to_dict()['ZIP CODE']
#Map Neighborhood to Zip Code 
df_combined['ZIP CODE'] = df_combined['NEIGHBORHOOD'].map(dictmap)

(df_combined['ZIP CODE'] == 0).value_counts()

False    58787
Name: ZIP CODE, dtype: int64

As we can see that all the missing Zip Code fields have been filled

In [131]:
#Year Built
(df_combined['YEAR BUILT'] == 0).value_counts()

False    55089
True      3698
Name: YEAR BUILT, dtype: int64

Since Year Built is vital in our analysis we will be removing the fields without a Year Built

In [132]:
df_combined = df_combined[df_combined['YEAR BUILT'] != 0]

In [133]:
#Building Class at Time of Sale
(df_combined['BUILDING CLASS AT TIME OF SALE'] == 0).value_counts()

False    55089
Name: BUILDING CLASS AT TIME OF SALE, dtype: int64

In [134]:
#Sale Date
(df_combined['SALE DATE'] == 0).value_counts()

False    55089
Name: SALE DATE, dtype: int64

Finally, we see that that there is no missing data for the Sale Date and Building Class at the Time of Sale columns.