In [13]:
import pandas as pd

In [16]:
#Read data for every Borough
df_manhattan = pd.read_excel('RollingSalesData/rollingsales_manhattan.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_bronx = pd.read_excel('RollingSalesData/rollingsales_bronx.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_brooklyn = pd.read_excel('RollingSalesData/rollingsales_brooklyn.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_queens = pd.read_excel('RollingSalesData/rollingsales_queens.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_statenisland = pd.read_excel('RollingSalesData/rollingsales_statenisland.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])

In [30]:
#Concatenate the data for all boroughs
df_combined = pd.concat([df_manhattan, df_bronx, df_brooklyn,  df_queens, df_statenisland])

#Replace the 'BOROUGH' with appropriate depictions for each borough: M -1 , X - 2, B - 3, Q - 4, S - 5
df_combined['BOROUGH'].replace({1:'M', 2:'X', 3:'B', 4:'Q', 5:'S'}, inplace=True)
#print(df_combined.head(10))

In [31]:
#Number of rows with a sale price of $0
(df_combined['SALE PRICE'] == 0).value_counts()

False    58787
True     24707
Name: SALE PRICE, dtype: int64

In [35]:
#Remove the records with a sale price of 0
df_combined = df_combined[df_combined['SALE PRICE'] != 0]

In [36]:
#Number of rows where Area of the property solde is missing
(df_combined['GROSS SQUARE FEET'] == 0).value_counts()

False    29566
True     29221
Name: GROSS SQUARE FEET, dtype: int64

In [37]:
#Check for missing data in other columns
#Borough
(df_combined['BOROUGH'] == "").value_counts()

False    58787
Name: BOROUGH, dtype: int64

In [86]:
#Neighborhood
(df_combined['NEIGHBORHOOD'] == " ").value_counts()

False    58787
Name: NEIGHBORHOOD, dtype: int64

In [39]:
#Building Class Category
(df_combined['BUILDING CLASS CATEGORY'] == "").value_counts()

False    58787
Name: BUILDING CLASS CATEGORY, dtype: int64

In [40]:
#Building Class at Present
(df_combined['BUILDING CLASS AT PRESENT'] == "").value_counts()

False    58787
Name: BUILDING CLASS AT PRESENT, dtype: int64

In [95]:
#Zip Code
#print(df_combined[df_combined['ZIP CODE'] == 0])
#print(df_combined[df_combined['ZIP CODE'] == 0])
#Create Dataframe with unique records
#df_key = data.drop_duplicates()
#df_key = df_key.loc[df_key['name'] != '']
#Set the code to be the index of the df
#df_key.set_index('code', inplace=True)
#Map key to data 
#data['name'] = data['code'].map(df_key['name'])
#group by the name and aggregate the data
#data_grped = data.groupby(['code', 'name'])['name'].count().sort_values(ascending=False)
#print(data_grped.head(10))

df_temp = df_combined[['NEIGHBORHOOD', 'ZIP CODE']]
df_temp = df_temp[df_temp['ZIP CODE'] != 0].drop_duplicates()


#df_temp.set_index(['NEIGHBORHOOD', 'ZIP CODE'], inplace=True)
#df_temp['BOROUGH'].count()

#df_group = df_temp.groupby(['NEIGHBORHOOD', 'ZIP CODE'])

print(df_temp)


#print(df_temp['BOROUGH'].value_counts())

#df_combined['ZIP CODE'] = df_combined['NEIGHBORHOOD'].map(df_temp['ZIP CODE'])

#print(df_combined)

                   NEIGHBORHOOD  ZIP CODE
0                 ALPHABET CITY     10009
94                ALPHABET CITY     10002
147                     CHELSEA     10011
158                     CHELSEA     10001
245                     CHELSEA     10014
597                     CHELSEA     10010
808                   CHINATOWN     10013
820                   CHINATOWN     10002
931                   CHINATOWN     10038
949                CIVIC CENTER     10038
965                CIVIC CENTER     10007
967                CIVIC CENTER     10013
1113                    CLINTON     10036
1122                    CLINTON     10019
1467               EAST VILLAGE     10009
1482               EAST VILLAGE     10003
1703                    FASHION     10001
1705                    FASHION     10018
1896                  FINANCIAL     10004
1904                  FINANCIAL     10005
1908                  FINANCIAL     10038
1929                  FINANCIAL     10006
2242                  FINANCIAL     10007
2274                   FLATIRON     10010
2276                   FLATIRON     10011
2277                   FLATIRON     10003
2372                   FLATIRON     10016
2601                   FLATIRON     10001
2659                   GRAMERCY     10010
2660                   GRAMERCY     10003
...                         ...       ...
6416                  ROSSVILLE     10312
6425                  ROSSVILLE     10309
6597       ROSSVILLE-CHARLESTON     10309
6649       ROSSVILLE-PORT MOBIL     10309
6670  ROSSVILLE-RICHMOND VALLEY     10309
6690                SILVER LAKE     10301
6706                SILVER LAKE     10310
6744                SOUTH BEACH     10305
7003                  STAPLETON     10301
7004                  STAPLETON     10304
7156          STAPLETON-CLIFTON     10304
7183          STAPLETON-CLIFTON     10305
7190                  SUNNYSIDE     10301
7233                  SUNNYSIDE     10314
7268                  TODT HILL     10301
7277                  TODT HILL     10304
7310              TOMPKINSVILLE     10301
7318              TOMPKINSVILLE     10304
7393                TOTTENVILLE     10307
7685                TOTTENVILLE     10309
7695                     TRAVIS     10314
7793          WEST NEW BRIGHTON     10301
7795          WEST NEW BRIGHTON     10310
7880          WEST NEW BRIGHTON     10302
8123                WESTERLEIGH     10302
8130                WESTERLEIGH     10314
8317                WILLOWBROOK     10314
8422                WILLOWBROOK     10302
8530                    WOODROW     10309
8584                    WOODROW     10306

[614 rows x 2 columns]