In [13]:
import pandas as pd

In [16]:
#Read data for every Borough
df_manhattan = pd.read_excel('RollingSalesData/rollingsales_manhattan.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_bronx = pd.read_excel('RollingSalesData/rollingsales_bronx.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_brooklyn = pd.read_excel('RollingSalesData/rollingsales_brooklyn.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_queens = pd.read_excel('RollingSalesData/rollingsales_queens.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])
df_statenisland = pd.read_excel('RollingSalesData/rollingsales_statenisland.xls', header=4, usecols=[0, 1, 2, 3, 7, 10, 15, 16, 18, 19, 20])

In [30]:
#Concatenate the data for all boroughs
df_combined = pd.concat([df_manhattan, df_bronx, df_brooklyn,  df_queens, df_statenisland])

#Replace the 'BOROUGH' with appropriate depictions for each borough: M -1 , X - 2, B - 3, Q - 4, S - 5
df_combined['BOROUGH'].replace({1:'M', 2:'X', 3:'B', 4:'Q', 5:'S'}, inplace=True)
#print(df_combined.head(10))

In [31]:
#Number of rows with a sale price of $0
(df_combined['SALE PRICE'] == 0).value_counts()

False    58787
True     24707
Name: SALE PRICE, dtype: int64

In [35]:
#Remove the records with a sale price of 0
df_combined = df_combined[df_combined['SALE PRICE'] != 0]

In [36]:
#Number of rows where Area of the property solde is missing
(df_combined['GROSS SQUARE FEET'] == 0).value_counts()

False    29566
True     29221
Name: GROSS SQUARE FEET, dtype: int64

In [37]:
#Check for missing data in other columns
#Borough
(df_combined['BOROUGH'] == "").value_counts()

False    58787
Name: BOROUGH, dtype: int64

In [86]:
#Neighborhood
(df_combined['NEIGHBORHOOD'] == " ").value_counts()

False    58787
Name: NEIGHBORHOOD, dtype: int64

In [39]:
#Building Class Category
(df_combined['BUILDING CLASS CATEGORY'] == "").value_counts()

False    58787
Name: BUILDING CLASS CATEGORY, dtype: int64

In [40]:
#Building Class at Present
(df_combined['BUILDING CLASS AT PRESENT'] == "").value_counts()

False    58787
Name: BUILDING CLASS AT PRESENT, dtype: int64

In [95]:
#Zip Code
#print(df_combined[df_combined['ZIP CODE'] == 0])
#print(df_combined[df_combined['ZIP CODE'] == 0])
#Create Dataframe with unique records
#df_key = data.drop_duplicates()
#df_key = df_key.loc[df_key['name'] != '']
#Set the code to be the index of the df
#df_key.set_index('code', inplace=True)
#Map key to data 
#data['name'] = data['code'].map(df_key['name'])
#group by the name and aggregate the data
#data_grped = data.groupby(['code', 'name'])['name'].count().sort_values(ascending=False)
#print(data_grped.head(10))

df_temp = df_combined[['NEIGHBORHOOD', 'ZIP CODE']]
df_temp = df_temp[df_temp['ZIP CODE'] != 0].drop_duplicates()


#df_temp.set_index(['NEIGHBORHOOD', 'ZIP CODE'], inplace=True)
#df_temp['BOROUGH'].count()

#df_group = df_temp.groupby(['NEIGHBORHOOD', 'ZIP CODE'])

print(df_temp)


#print(df_temp['BOROUGH'].value_counts())

#df_combined['ZIP CODE'] = df_combined['NEIGHBORHOOD'].map(df_temp['ZIP CODE'])

#print(df_combined)

                   NEIGHBORHOOD  ZIP CODE
0                 ALPHABET CITY     10009
94                ALPHABET CITY     10002
147                     CHELSEA     10011
158                     CHELSEA     10001
245                     CHELSEA     10014
597                     CHELSEA     10010
808                   CHINATOWN     10013
820                   CHINATOWN     10002
931                   CHINATOWN     10038
949                CIVIC CENTER     10038
965                CIVIC CENTER     10007
967                CIVIC CENTER     10013
1113                    CLINTON     10036
1122                    CLINTON     10019
1467               EAST VILLAGE     10009
1482               EAST VILLAGE     10003
1703                    FASHION     10001
1705                    FASHION     10018
1896                  FINANCIAL     10004
1904                  FINANCIAL     10005
1908                  FINANCIAL     10038
1929                  FINANCIAL     10006
2242                  FINANCIAL     10007
2274                   FLATIRON     10010
2276                   FLATIRON     10011
2277                   FLATIRON     10003
2372                   FLATIRON     10016
2601                   FLATIRON     10001
2659                   GRAMERCY     10010
2660                   GRAMERCY     10003
...                         ...       ...
6416                  ROSSVILLE     10312
6425                  ROSSVILLE     10309
6597       ROSSVILLE-CHARLESTON     10309
6649       ROSSVILLE-PORT MOBIL     10309
6670  ROSSVILLE-RICHMOND VALLEY     10309
6690                SILVER LAKE     10301
6706                SILVER LAKE     10310
6744                SOUTH BEACH     10305
7003                  STAPLETON     10301
7004                  STAPLETON     10304
7156          STAPLETON-CLIFTON     10304
7183          STAPLETON-CLIFTON     10305
7190                  SUNNYSIDE     10301
7233                  SUNNYSIDE     10314
7268                  TODT HILL     10301
7277                  TODT HILL     10304
7310              TOMPKINSVILLE     10301
7318              TOMPKINSVILLE     10304
7393                TOTTENVILLE     10307
7685                TOTTENVILLE     10309
7695                     TRAVIS     10314
7793          WEST NEW BRIGHTON     10301
7795          WEST NEW BRIGHTON     10310
7880          WEST NEW BRIGHTON     10302
8123                WESTERLEIGH     10302
8130                WESTERLEIGH     10314
8317                WILLOWBROOK     10314
8422                WILLOWBROOK     10302
8530                    WOODROW     10309
8584                    WOODROW     10306

[614 rows x 2 columns]

In [99]:
#Year Built
#(df_combined['YEAR BUILT'] == 0).value_counts()
print(df_combined[df_combined['YEAR BUILT'] == 0])

     BOROUGH       NEIGHBORHOOD                      BUILDING CLASS CATEGORY  \
90         M      ALPHABET CITY  12 CONDOS - WALKUP APARTMENTS
92         M      ALPHABET CITY  13 CONDOS - ELEVATOR APARTMENTS
108        M      ALPHABET CITY  13 CONDOS - ELEVATOR APARTMENTS
109        M      ALPHABET CITY  13 CONDOS - ELEVATOR APARTMENTS
123        M      ALPHABET CITY  15 CONDOS - 2-10 UNIT RESIDENTIAL
124        M      ALPHABET CITY  15 CONDOS - 2-10 UNIT RESIDENTIAL
125        M      ALPHABET CITY  15 CONDOS - 2-10 UNIT RESIDENTIAL
406        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
408        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
477        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
496        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
497        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
498        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
499        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
500        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
525        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
526        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
527        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
529        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
536        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
537        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
538        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
539        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
544        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
545        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
547        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
548        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
550        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
552        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
553        M            CHELSEA  13 CONDOS - ELEVATOR APARTMENTS
...      ...                ...                                          ...
7150       S          STAPLETON  31 COMMERCIAL VACANT LAND
7185       S  STAPLETON-CLIFTON  05 TAX CLASS 1 VACANT LAND
7186       S  STAPLETON-CLIFTON  05 TAX CLASS 1 VACANT LAND
7304       S          TODT HILL  05 TAX CLASS 1 VACANT LAND
7307       S          TODT HILL  05 TAX CLASS 1 VACANT LAND
7353       S      TOMPKINSVILLE  05 TAX CLASS 1 VACANT LAND
7354       S      TOMPKINSVILLE  05 TAX CLASS 1 VACANT LAND
7356       S      TOMPKINSVILLE  05 TAX CLASS 1 VACANT LAND
7357       S      TOMPKINSVILLE  05 TAX CLASS 1 VACANT LAND
7360       S      TOMPKINSVILLE  05 TAX CLASS 1 VACANT LAND
7656       S        TOTTENVILLE  05 TAX CLASS 1 VACANT LAND
7657       S        TOTTENVILLE  05 TAX CLASS 1 VACANT LAND
7663       S        TOTTENVILLE  05 TAX CLASS 1 VACANT LAND
7664       S        TOTTENVILLE  05 TAX CLASS 1 VACANT LAND
7665       S        TOTTENVILLE  05 TAX CLASS 1 VACANT LAND
7685       S        TOTTENVILLE  31 COMMERCIAL VACANT LAND
7694       S        TOTTENVILLE  31 COMMERCIAL VACANT LAND
7973       S  WEST NEW BRIGHTON  02 TWO FAMILY DWELLINGS
8082       S  WEST NEW BRIGHTON  05 TAX CLASS 1 VACANT LAND
8083       S  WEST NEW BRIGHTON  05 TAX CLASS 1 VACANT LAND
8084       S  WEST NEW BRIGHTON  05 TAX CLASS 1 VACANT LAND
8085       S  WEST NEW BRIGHTON  05 TAX CLASS 1 VACANT LAND
8086       S  WEST NEW BRIGHTON  05 TAX CLASS 1 VACANT LAND
8122       S  WEST NEW BRIGHTON  41 TAX CLASS 4 - OTHER
8267       S        WESTERLEIGH  02 TWO FAMILY DWELLINGS
8313       S        WESTERLEIGH  05 TAX CLASS 1 VACANT LAND
8503       S        WILLOWBROOK  05 TAX CLASS 1 VACANT LAND
8504       S        WILLOWBROOK  05 TAX CLASS 1 VACANT LAND
8505       S        WILLOWBROOK  05 TAX CLASS 1 VACANT LAND
8546       S            WOODROW  01 ONE FAMILY DWELLINGS

     TAX CLASS AT PRESENT BUILDING CLASS AT PRESENT  ZIP CODE  \
90                      2                        R2     10009
92                      2                        R4     10009
108                     2                        R4     10009
109                     2                        R4     10009
123                    2C                        R1     10009
124                    2C                        R1     10009
125                    2C                        R1     10009
406                     2                        R4     10011
408                     2                        R4     10011
477                     2                        R4     10011
496                     2                        R4     10001
497                     2                        R4     10001
498                     2                        R4     10001
499                     2                        R4     10001
500                     2                        R4     10001
525                     2                        R4     10011
526                     2                        R4     10011
527                     2                        R4     10011
529                     2                        R4     10011
536                     2                        R4     10011
537                     2                        R4     10011
538                     2                        R4     10011
539                     2                        R4     10011
544                     2                        R4     10001
545                     2                        R4     10001
547                     2                        R4     10001
548                     2                        R4     10001
550                     2                        R4     10001
552                     2                        R4     10001
553                     2                        R4     10001
...                   ...                       ...       ...
7150                    4                        V1     10304
7185                   1B                        V0         0
7186                   1B                        V0         0
7304                   1B                        V0     10301
7307                   1B                        V0         0
7353                   1B                        V0         0
7354                   1B                        V0         0
7356                   1B                        V0         0
7357                   1B                        V0         0
7360                   1B                        V0         0
7656                   1B                        V0     10307
7657                   1B                        V0     10307
7663                   1B                        V0     10307
7664                   1B                        V0     10307
7665                   1B                        V0         0
7685                    4                        V1     10309
7694                    4                        V9         0
7973                    1                        B2     10310
8082                   1B                        V0         0
8083                   1B                        V0         0
8084                   1B                        V0         0
8085                   1B                        V0     10310
8086                   1B                        V0         0
8122                    4                        Z9     10302
8267                    1                        B2     10314
8313                   1B                        V0     10314
8503                   1B                        V0         0
8504                   1B                        V0         0
8505                   1B                        V0         0
8546                    1                        A2     10309

      GROSS SQUARE FEET  YEAR BUILT BUILDING CLASS AT TIME OF SALE  \
90                    0           0                             R2
92                    0           0                             R4
108                   0           0                             R4
109                   0           0                             R4
123                   0           0                             R1
124                   0           0                             R1
125                   0           0                             R1
406                   0           0                             R4
408                   0           0                             R4
477                   0           0                             R4
496                   0           0                             R4
497                   0           0                             R4
498                   0           0                             R4
499                   0           0                             R4
500                   0           0                             R4
525                   0           0                             R4
526                   0           0                             R4
527                   0           0                             R4
529                   0           0                             R4
536                   0           0                             R4
537                   0           0                             R4
538                   0           0                             R4
539                   0           0                             R4
544                   0           0                             R4
545                   0           0                             R4
547                   0           0                             R4
548                   0           0                             R4
550                   0           0                             R4
552                   0           0                             R4
553                   0           0                             R4
...                 ...         ...                            ...
7150                  0           0                             V1
7185                  0           0                             V0
7186                  0           0                             V0
7304                  0           0                             V0
7307                  0           0                             V0
7353                  0           0                             V0
7354                  0           0                             V0
7356                  0           0                             V0
7357                  0           0                             V0
7360                  0           0                             V0
7656                  0           0                             V0
7657                  0           0                             V0
7663                  0           0                             V0
7664                  0           0                             V0
7665                  0           0                             V0
7685                  0           0                             V1
7694                  0           0                             V9
7973                  0           0                             B2
8082                  0           0                             V0
8083                  0           0                             V0
8084                  0           0                             V0
8085                  0           0                             V0
8086                  0           0                             V0
8122                  0           0                             Z9
8267                  0           0                             B2
8313                  0           0                             V0
8503                  0           0                             V0
8504                  0           0                             V0
8505                  0           0                             V0
8546                  0           0                             A2

      SALE PRICE  SALE DATE
90       1865000 2017-09-15
92        820000 2018-06-08
108       674100 2017-09-26
109       555863 2018-05-03
123      1895000 2018-05-18
124       494500 2017-08-04
125      1550000 2018-05-15
406      3640000 2017-12-22
408      4950000 2018-01-10
477      2875000 2018-01-11
496      1915000 2018-02-01
497      1100000 2018-05-03
498      1815000 2017-11-10
499      1739000 2018-06-28
500      2400000 2018-04-24
525      3300000 2018-06-15
526      2900000 2018-01-26
527      1230000 2017-08-28
529      1650000 2018-06-08
536       715000 2018-02-13
537      1062000 2018-03-23
538       975000 2018-03-14
539       727500 2017-12-06
544      4300000 2017-11-21
545      1435000 2018-04-17
547      2275000 2017-08-15
548      1650000 2017-12-14
550      2850000 2018-07-09
552      1450000 2017-12-19
553      1657500 2018-05-24
...          ...        ...
7150      310000 2018-02-02
7185        2000 2017-08-02
7186        8000 2017-08-02
7304      551250 2017-12-01
7307      921500 2017-10-16
7353      270000 2017-12-08
7354         100 2017-12-28
7356       10000 2018-02-08
7357       50000 2017-11-29
7360       49500 2018-05-25
7656      865410 2018-03-13
7657      375000 2017-12-08
7663      349900 2018-06-06
7664      106000 2017-08-11
7665      314000 2018-05-02
7685      100000 2018-02-06
7694       15000 2018-06-01
7973      800000 2017-10-04
8082      205000 2017-08-03
8083       19346 2017-10-05
8084      175000 2018-07-16
8085      190000 2018-03-19
8086      850238 2018-05-23
8122      381843 2018-02-12
8267      898888 2018-06-22
8313      992793 2018-04-23
8503        1000 2017-12-31
8504      800000 2017-12-27
8505       17299 2017-12-27
8546      749000 2017-09-01

[3698 rows x 11 columns]

In [97]:
#Building Class at Time of Sale
(df_combined['BUILDING CLASS AT TIME OF SALE'] == 0).value_counts()

False    58787
Name: BUILDING CLASS AT TIME OF SALE, dtype: int64

In [98]:
#Sale Date
(df_combined['SALE DATE'] == 0).value_counts()

False    58787
Name: SALE DATE, dtype: int64